<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.healthcentrix.prevvy"
        versionCode = "11"
        version   = "1.0.0">

    <name>Prevvy</name>
    <description>
        Prevvy Family Health Assistant
    </description>
    <author email="info@prevvy.co" href="http://prevvy.co/">
       Prevvy Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="xwalkMultipleApk" value="false" />
        <preference name="loadUrlTimeoutValue" value="70000" />
        <plugin spec="https://jmolmo:andago25@bitbucket.org/healthcentrix/cordova-plugin-fcm-config" source="git" />
   </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <icon src="icon.png" />
    <resource-file src="google-services.json" target="./google-services.json" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="2.3.0" />
    <plugin name="cordova-plugin-fcm" spec="2.1.2" />    
    <plugin name="cordova-plugin-network-information" spec="1.3.3" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.2" />

    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-health" spec="^1.1.0">
        <variable name="HEALTH_READ_PERMISSION" value="App needs read access" />
        <variable name="HEALTH_WRITE_PERMISSION" value="App needs write access" />
    </plugin>
    <plugin name="cordova-plugin-tesseract" spec="https://github.com/gustavomazzoni/cordova-plugin-tesseract" />
    <plugin name="cordova-plugin-app-launcher" spec="https://github.com/nchutchind/cordova-plugin-app-launcher.git" />
    <plugin name="cordova-plugin-camera" spec="^4.0.3" />
    
    <engine name="android" spec="^7.0.0" />
    
</widget>
